body{
width:1000px;
margin:0 auto;
background-image:url("../img/layout/grey_wash_wall.png");
}

.clearfix:after {
display: block;
visibility: hidden;
content: ".";
clear: both;
text-indent: -9999px;
height: 0;
}
/**************************Common styles**********************/
#content, #siteControls{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

/**************************Header***************************/
#header{
background-color:red;
}

#header ul {
margin: 35px 0;
padding: 0;
font: 12px Verdana;
list-style-type: none;
}
  
#header li {
display: inline;
}
  
#header li a {
padding: 5px 10px;
border: 1px solid #aaa;
background-color: #eee;
color: #47a;
text-decoration: none;
}

#header h1 a{
    text-decoration: none;
    color:black;
    padding: 0 836px 50px 0;
}

/**************************Container***************************/
#container{
background-color:blue;

}
#container:after{
display: block;
visibility: hidden;
content: ".";
clear: both;
text-indent: -9999px;
height: 0;
}
/**************************Content***************************/
#content{
background-color:yellow;
width:750px;
float:left;
}
#listbox{
height:400px;
width:500px;
overflow-x:hidden;
overflow-y:scroll;
margin:0 auto;
margin-top:50px;
margin-bottom:50px;
background-color:purple;
}

#listbox .odd{
    background-color: rgb(158, 34, 255);
}

#listbox ul{
    padding: 0;
    margin-left: 5px;
}

#listbox li{
    list-style-type: none;
}

#listbox a{
    color:white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
#listbox a:hover{
    background-color: rgb(93, 172, 68);
    padding-right: 118px;
}
#contentlist{
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    position: relative;
}
#contentlist li{
    margin-top: 50px;
    list-style-type: none; 
}

#contentlist input[type="checkbox"] {
margin-right: 9px;
}

.mrfull{
    cursor: pointer;
}
/**************************SiteControls***************************/
#siteControls{
background-color:green;
width:240px;
margin-left:5px;
float:left;
}

/**************************Footer***************************/
#footer{
background-color:gray;

}

/*************************Extras***************************/

#element_to_pop_up { display:none; 
background-color: #fff;
border-radius: 10px 10px 10px 10px;
box-shadow: 0 0 25px 5px #999;
color: #111;
display: none;
min-width: 450px;
padding: 25px;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}


.numberCircle {
    position: absolute;
    left: 3px;
    margin-top: -8px;
    font-size: 30px;
    background-color: rgb(209, 209, 209);
    width: 32px;
    text-align: center;
    border-radius: 27px;
    color: rgb(44, 43, 43);
    border: 2px solid rgb(124, 124, 124);
}